RewriteBase /my_Ecoride/public/
RewriteEngine On

# Autoriser toutes les requêtes sauf les fichiers et dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les requêtes vers index.php
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]