/* === Sections générales === */
.about-intro img,
.how-it-works img {
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    margin-top: 15px;
}

/* === Titre de section === */
.title-about {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--brown);
    margin-bottom: 15px;
}

/* === Contenu des paragraphes === */
.content-about {
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--black);
    line-height: 1.5;
    margin-bottom: 15px;
}

/* === Cartes de valeurs === */
.value-card {
    background-color: var(--medium-green);
    color: var(--beige);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.value-card h3 {
    font-size: 1.5rem;
    color: var(--dark-green);
}

.value-card p {
    font-size: 1rem;
    color: var(--black);
}

/* === Responsive Design === */

/* Mobile First - Jusqu'à 768px */
@media screen and (max-width: 768px) {
    .banner {
        width: 100%;
    }

    .value-card {
        font-size: 1rem;
    }
}

/* Desktop - À partir de 1024px */
@media screen and (min-width: 1024px) {
    .section-card {
        width: 80%;
    }
}