/* Container */
.footer-container {
    width: 90%;
    height: auto;
    background: var(--dark-green);
    padding: 20px 0;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Footer Top */
.footer-top {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

/* contact-row */
.contact-row {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}   

/* Contact Button */
.contact-btn {
    background: #b2d235;
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.contact-btn:hover {
    background: #a1c026;
}

/* Social Icons */
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffcc00;
}

/* Footer Navigation */
.footer-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
}

.footer-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ffcc00;
}

/* Footer Bottom */
.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-bottom a:hover {
    color: #ffcc00;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .footer-nav {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        text-align: center;
        margin: 10px 0;
    }
}